{% extends 'index.html' %}
{% block log %}
 <div class="collapse navbar-collapse" id="navbarResponsive">
                 </ul>
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" tabindex="0" href="/login"style="
    padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial;
">Log in</a></li>
                    <li class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" tabindex="0" href="/register"   style="
   padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial;
">Sign up free</a></li>
                    </ul>
                </div>
{% endblock %} 

 {%block content %}
        <article class="mb-4" style="
    background: aliceblue;
" class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
<div class="post-preview" style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="color: #560080; padding: 15px;" class="section-heading">Social media marketing </h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/w1.jpg" />
<blockquote style="color: #560080;" class="blockquote">Social media marketing is the use of social media platforms and websites to promote a product or service. Although the terms e-marketing and digital marketing are still dominant in academia, social media marketing is becoming more popular for both practitioners and researchers.</blockquote>

<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>       on August 24, 2021                     </p>

</div>
<hr class="my-4">          
                        <h2 class="section-heading"> This Is Why Facebook Is Still More Important than Ever</h2>
                        <p style="margin: 0px; font-size: initial;">  Social media has become a part of our daily lives, we use it so much that it’s incorporated into our routine. Facebook is one of the most used social media platforms of all time.</p>
                        <p>It’s used to connect users with their friends, family, work colleagues, and even with people, they don’t know. Facebook allows people to share pictures, videos, music, articles, their own thoughts and options and so much more.</p>
                        <p>Facebook has been a great marketing tool for companies and brands for years, but in recent years the platform’s organic reach has declined. But not to worry – Facebook is still one of the most effective social media marketing platforms out there!</p>
                        <h1 class="section-heading">1. How Many People Use Facebook?</h1>
                       <ul>
                     <li>Facebook has almost 2.8 billion active monthly users, as of 2021. It’s reached a massive audience in the past couple of years which caught the attention of marketers everywhere.</li>
                    <li>Facebook has about 1.84 billion users daily, which means there’s a new potential audience for companies and brands.</li>
                    <li>Facebook was first founded in 2004, and has become extremely popular since, especially from a marketing perspective.</li>
                   </ul>
                        <span style="font-size: larger;" class="caption text-muted">here we go to do sponsored advertisement on facebook that help you to improve your business just  <a style=" font-size: larger;" href="/post">clik here</a>.</span>
                    <hr class="my-4" />
<div class="post-preview" style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="color: #560080; padding: 15px;" class="section-heading">Professional website </h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/w2.jpg" />
<blockquote style="color: #560080;" class="blockquote">Don’t know API from SEO? Don’t sweat it. With Constant Contact’s website builder, you can create a professional, mobile-responsive website in just minutes—no tech skills or guesswork required with us.</blockquote>

<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>       on August 24, 2021                     </p>

</div>                     
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post">
                            <h2 class="post-title">Set up an online store</h2>
                            <h3 class="post-subtitle">Nothing allows you to reach more customers and drive more sales than an online store. And with Constant Contact you can set up an online store for free. When you’re ready to make your site live and start selling, you can purchase any plan to accept online payments.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Digital IOM</a>
                            on August 24, 2021
                        </p>
                    </div>
                    <hr class="my-4" />


                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
            
              
<div class="sub" style="text-align: center;    background: powderblue;">
<h3 style="color: #127795;
    font-style: italic;
    margin: 0px;">Subscribe to get our new feature </h3>
                           <form id="contactForm" action="/home" style=" justify-content: center;
    display: flex;
    padding: 0px;" method="POST">
                            <div style="    display: flex;">    
                                <div style="    margin: 15px;"class="form-floating">
                                    <input style ="       border: 5px solid #0085a1;
    font-size: 40px;
    border-radius: 40%;
    background: content-box;
    width: 600px;
    padding: 50px;" class="form-control" name="email" type="email" placeholder="Enter your email..." required/>
                                    <label style="    margin: 10px;
    font-style: oblique;
    color: black;
    font-weight: bold;" for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                
                              
                             
                                <button type="submit" class="btn btn-primary text-uppercase"  style="
       padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial;
    height: 60px;
    background-color: #127795;
    border: 0px;
    margin-top: 40px; "  >Subscribe</button>
                                </div>    

                            </form>
 {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div style="    background: #b0e0e6; border: 0px;" class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"></svg>
  <div style="    margin-left: 40%;"> {{ message }}  </div>
</div>
        {% endfor %}
    {% endif %}
{% endwith %}
                        </div>
                    
<div class="info">
            <h4>Get In Touch</h4>
            <span class="phone">+201012989502<span>
            <span  styles="" class="phone">digitaliom2021@gmail.com</span>
            <h4>Where We Are</h4>
            <address class="phone"><br />Alexandria<br />Smoha<br />Egypt</address>
          </div>
{% endblock %} 
  