<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Digital IOM POSTS</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        
         <script>

</script>
<link href="static/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" style="padding-top: 4px;" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="aa" href="/home" style="margin: 15px;">Digital IOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/post">Sample Post</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Contact</a></li>
                    </ul>
                </div>
                 <div class="collapse navbar-collapse" id="navbarResponsive">
                 
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" tabindex="0" href="/login"style="
    padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial;
">Log in</a></li>
                    <li class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" tabindex="0" href="/register"   style="
   padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial;
">Sign up free</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
           <div class="img-slider">
      <div class="slide active">
    <header class="masthead" style="background-image: url('static/img/e1.jpg'); " >     </header>       
      </div>
      <div class="slide">
 <header class="masthead" style="background-image: url('static/img/e2.jpg'); " >   </header>
              </div>
      <div class="slide">
 <header class="masthead" style="background-image: url('static/img/e3.jpg'); " >  </header>
              </div>
      <div class="slide">
 <header class="masthead" style="background-image: url('static/img/e4.jpg'); " >   </header>
              </div>
      <div class="slide">
 <header class="masthead" style="background-image: url('static/img/e5.jpg'); " >  </header>
              </div>
              <div class="slide">
 <header class="masthead" style="background-image: url('static/img/e6.jpg'); " >   </header>
              </div>
              <div class="slide">
 <header class="masthead" style="background-image: url('static/img/e7.jpg'); " >   </header>
              </div>
              <div class="slide">
 <header class="masthead" style=" background-image: url('static/img/e1.jpg'); " >   </header>
              </div>
      <div class="slide">
 <header class="masthead" style=" background-image: url('static/img/e2.jpg'); " >  </header>
              </div>
      <div class="navigation">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div style="display: none;" class="btn"></div>
        <div style="display: none;" class="btn"></div>
      </div>
    </div>


        <!-- Post Content-->
         <div class="container px-4 px-lg-5" style="
    background: aliceblue;
" class="mb-4">
        <article class="mb-4" style="
    background: aliceblue;
" class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview" style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقة التعارف</h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e3.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">
شركة IOM بتقدملك باقة التعارف 
و هي عربون الثقة بينك و بين العميل  
و بتقدر توصل إعلانك إلي 2000 عميل مهتمين بمجالك 
+ تصميم بروفيشنال إحترافي مجانا 
 عشان يلفت انتباه العملاء  
و كل دا بكام ب 70ج بس  
يعني متشلش هم فلوس الاعلانات  
هدفنا نساعدك انك تقدر تبيع المنتج الخاص بيك و بنديك أفكار تبيع بيها المنتج بتاعك️
كل اللي عليك تبعتلنا رسايل علي <a style=" font-size: larger;" href="/contact">Contact Us</a>  
او تبعتلنا واتساب  
علي الرقم ده / 01012989502 
</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>       on August 24, 2021                     </p>

</div>
<hr class="my-4">
<div class="post-preview" style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقه الهرم </h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e6.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">
عايز تعمل إعلان ممول للمنتج بتاعك
 و في نفس الوقت مش عايز تدفع فلوس كتير ؟! 
من هنا و رايح متشلش هم 
لإن شركتنا عملتلك باقة الهرم 
اللي من خلالها هتقدر تخلي البوست بتاعك ناجح 
و يوصل لأكبر عدد من الناس 
طب إزاااي ؟! 
علشان تحقق نتايج كبيرة فا إحنا بنقدملك :-
1/ ديزاين بروفيشنال يلفت إنتباه العميل 
2/ كتابة محتوي يليق بالمنتج بتاعك  
3/ إعلانك الممول لمده 4 ايام 
اللي من خلاله هتقدر تخلي البوست بتاعك يوصل لأكتر من 15.000عميل 
و بسعر رمزي جدا 
كل دا هيبقي ب 350 ج بس  
مستني إي متفكرش كتير و سيب الباقي علينا ️ 
كل اللي عليك تبعتلنا رسايل او استفسارات علي <a style=" font-size: larger;" href="/contact">Contact Us</a> و هيتم الرد عليك في أسرع وقت  
او إبعتلنا علي رقم الواتساب / 01012989502 
</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>   on August 24, 2021                      </p>

</div>
<hr class="my-4">

<div class="post-preview"  style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقه الهرم 2</h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e4.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">وعشان دايماً شركه *IOM* بتعملك احسن اعلان بأقل تكاليف قولنا لازم ندلعك اكتر واكتر
*عملنالك باقه الهرم 2*
اللي من خلالها هتوصل لعدد العملاء اللي مهتمين بمجالك وممكن اكتر كمان✌️
طيب توصل لكدا ازاي  
1/ *2ديزاين بروفيشنال يلفت إنتباه العميل* 
2/ *كتابه محتوي يليق بالمنتج بتاعك*
3/ *اعلانك الممول لمده6ايام*
وده اللي هيخليك توصل البوست بتاعك
 لاكتر من *20000* عميل
و بسعر مناسب جدا
كل ده ب *499ج* بس
انت لسه بتفكر يلا ادخل كلمنا وسيب الباقي علينا
كل اللي محتاج تعملو انك تدخل تبعتلنا استفسارك 
 على<a style=" font-size: larger;" href="/contact">Contact Us</a> 
وهيتم الرد عليك ف اسرع وقت️
 او ممكن تتواصل معانا 
على رقم *الواتساب* 01012989502
</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>                          on August 24, 2021                      </p>
</div>
<hr class="my-4">

<div class="post-preview" style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقة ال 3 ايام</h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e1.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">وعشان دايماً شركه *IOM* بتعملك احسن اعلان بأقل تكاليف قولنا لازم ندلعك اكتر واكتر
و علشان دايما شركتنا بتحب تدلع عملائها 
شركة IOM عملتلك باقة ال 3 أيام و بسعر قليل
و مش هتلاقيه عند أي شركة 
هنقدر نوصلك إعلانك إلي 8000 عميل مهتمين بمجالك 
+ تصميم بروفيشنال مجانا زي ما عودناكم ️
و بسعر 185ج بس  
يعني متشلش هم الفلوس و سيب الباقي علينا 
هدفنا نساعدك إنك تقدر تبيع المنتج الخاص بيك 
و بنديك أفكار تبيع بيها المنتج بتاعك 
و دا اللي هيميزك عن أي حد 
كل اللي عليك تبعتلنا على <a style=" font-size: larger;" href="/contact">Contact Us</a> 
او التواصل علي رقم الواتساب و هيتم الرد عليك في اسرع وقت  
علي الرقم ده / 01012989502 


</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>                          on August 24, 2021                      </p>
</div>
<hr class="my-4">

<div class="post-preview"  style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقة ال 6 ايام</h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e2.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">وعشان دايماً شركه *IOM* بتعملك احسن اعلان بأقل تكاليف قولنا لازم ندلعك اكتر واكتر
عايز تعمل إعلان ممول عالفيس بوك 
و في نفس الوقت يوصل لأكبر عدد من الناس ؟  
من هنا و رايح متشلش هم 
لإن شركة IOM هتسهل عليك كل دا  
عملنالك باقة ال 6 أيام اللي هتوصل إعلانك لأكتر من 15,000 عميل 
و مش بس كدا !!  
هيبقي في 2 ديزاين بروفيشنال مجانا 
و دي هدية مننا ليكم زي ما عودناكم 
و كل دا ب 325 ج بس 
و طبعا هدفنا إننا نساعدك تسوق المنتج بتاعك في أسرع وقت 
و بشكل كريتيڤ عشان تكون مميز عن الكل 
كل اللي عليك تبعتلنا علي<a style=" font-size: larger;" href="/contact">Contact Us</a>

او تتواصل معانا علي رقم الواتساب / 01012989502 

</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>                          on August 24, 2021                      </p>
</div>
<hr class="my-4">

<div class="post-preview"  style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقه الهرم 3</h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e5.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">وعشان دايماً شركه *IOM* بتعملك احسن اعلان بأقل تكاليف قولنا لازم ندلعك اكتر واكتر
عشان دايما شركة IOM بتعملك أحسن إعلان و بأقل تكاليف 
قولنا لازم ندلعك أكتر و أكتر   
عملنالك باقة الهرم 3 
اللي من خلالها هتوصل لعدد العملاء 
المهتمين بمجالك و أكتر كمان️ 
شركتنا بتقدملك عرض الهرم اللي من خلاله هيكون في :- 
1/ 8 ديزاين بروفيشنال يلفت انتباه عميلك 
2/ كتابة محتوي يليق بالمنتج اللي حابب تعرضه
3/ إعلانك الممول لمدة (شهر )
و ده اللي هيوصل البوست بتاعك لأكتر من(100.000) عميل
العرض ده ب(1950)ج بس 
انت لسه بتفكر و محتار ؟ 
يلا ادخل كلمنا و سيب الباقي علينا 
ابعتلنا علي <a style=" font-size: larger;" href="/contact">Contact Us</a>
 
او ابعتلنا علي رقم الواتساب  /01012989502

</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>                          on August 24, 2021                      </p>
</div>
<hr class="my-4">

<div class="post-preview"  style="  border: 3px outset lightyellow ; margin-top: 30px;">
<h2 style="direction: rtl;color: #560080; padding: 15px;" class="section-heading">باقه الكومبو</h2>
<img style="max-inline-size: -webkit-fill-available; max-inline-size: -moz-available; padding: 10px;" src="static/img/e7.jpg" />
 <p style="direction: rtl;       font-family: fantasy; padding: 15px;">
 بتحتار و شركتنا موجودة و تقدر تسوق المنتج بتاعك بأحسن طريقة ؟ 
خليك واثق فينا دايما و خلي ثقتك في محلها 
و لإننا دايما عايزين مصلحتك عملنالك أفضل العروض و الباقات 
دا غير الهدايا اللي بنقدمهالك مع العرض اللي بتختاره  
شركة IOM عملتلك باقة الكومبو 
اللي هتخلي إعلان منتجك يوصل ل 80.000 عميل 
و ممكن لأكتر كمان !!
+ كتابة محتوي يليق بالمنتج اللي عايز تسوقه 
و مش بس كدا  
احنا كمان هنعملك 6 ديزاين مجانا و دي هديتنا مننا ليك 
سعر الباقة 1750 ج بس  
انت لسه بتفكر و محتار ؟ 
لو حابب تستفسر ابعتلنا رسالة 
 على <a style=" font-size: larger;" href="/contact">Contact Us</a>
 
وهيتم الرد عليك ف اسرع وقت️
 او ممكن تتواصل معانا 
على رقم *الواتساب* 01012989502
</p>
<p class="post-meta">   Posted by   <a href="/home">Digital IOM</a>            on August 24, 2021                      </p>
</div>
<hr class="my-4">
                       
                       
     <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                       <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="sub" style="text-align: center;    background: powderblue;">
<h3 style="color: #127795;
    font-style: italic;
    margin: 0px;">Subscribe to get our new feature </h3>
                           <form id="contactForm" action="/post" style=" justify-content: center;
    display: flex;
    padding: 0px;" method="POST">
                            <div style="    display: flex;">    
                                <div style="    margin: 15px;"class="form-floating">
                                    <input style =" border: 5px solid #0085a1;
    font-size: 40px;
    border-radius: 40%;
    background: content-box;
    width: 600px;
    padding: 50px;" class="form-control" name="email" type="email" placeholder="Enter your email..." required/>
                                    <label style="    margin: 10px;
    font-style: oblique;
    color: black;
    font-weight: bold;" for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                
                              
                             
                                <button type="submit" class="btn btn-primary text-uppercase"  style="
       padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial;
    height: 60px;
    background-color: #127795;
    border: 0px;
    margin-top: 40px; "  >Subscribe</button>
                                </div>    

                            </form>
                            {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div style="    background: #b0e0e6; border: 0px;" class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"></svg>
  <div style="    margin-left: 40%;"> {{ message }}  </div>
</div>
        {% endfor %}
    {% endif %}
{% endwith %}
                        </div>
        </article>
        <div class="info">
            <h4>Get In Touch</h4>
            <span class="phone">+201012989502<span>
            <span  styles="" class="phone">digitaliom2021@gmail.com</span>
            <h4>Where We Are</h4>
            <address class="phone"><br />Alexandria<br />Smoha<br />Egypt</address>
          </div>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Digital IOM 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <div>
        <marquee loop="-1" scrollamount="2" width="100%" bgcolor="">THANKS..........</marquee>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/scripts.js"></script>
            <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('.btn');
    let currentSlide = 1;

    // Javascript for image slider manual navigation
    var manualNav = function(manual){
      slides.forEach((slide) => {
        slide.classList.remove('active');

        btns.forEach((btn) => {
          btn.classList.remove('active');
        });
      });

      slides[manual].classList.add('active');
      btns[manual].classList.add('active');
    }

    btns.forEach((btn, i) => {
      btn.addEventListener("click", () => {
        manualNav(i);
        currentSlide = i;
      });
    });

    // Javascript for image slider autoplay navigation
    var repeat = function(activeClass){
      let active = document.getElementsByClassName('active');
      let i = 1;

      var repeater = () => {
        setTimeout(function(){
          [...active].forEach((activeSlide) => {
            activeSlide.classList.remove('active');
          });

        slides[i].classList.add('active');
        btns[i].classList.add('active');
        i++;

        if(slides.length == i){
          i = 0;
        }
        if(i >= slides.length){
          return;
        }
        repeater();
      }, 4000);
      }
      repeater();
    }
    repeat();
    </script>
         <style>
 
   header.masthead::before {
content: inherit;
  }
  header.masthead{
   content-visibility: hidden;
    background-repeat: round;
    background: round;
    padding-bottom: 20rem;
    background-color: #6c757d;
    background-size: 1550px;
    position: relative;
    margin-bottom: 0px;
    padding-top: calc(8rem + 57px);
    background-attachment: scroll;
  
  }
   @media (min-width: 1000px) {
  
  #mainNav.is-fixed {
    position: fixed;
    top: -100px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
}
  
      nav .aa { 
        padding-right: 0px;
    padding-left: 60px;
    color: #07d4ff;
        font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    }
}
       @media all and (max-width: 1000px){
       
                header.masthead{
   content-visibility: hidden;
    background-repeat: round;
    background: round;
    padding-bottom: 1rem;
    margin-top: 75px;
    background-color: #6c757d;
    background-size: 1550px;
    position: relative;
    padding-top: calc(8rem + 57px);
    background-attachment: scroll;
  
  }
  .sub{
  display: none;
  
  }
 
       nav a {
        padding-left: 20px;
    margin: 0px;
    color: #e057a5;
    font-style: oblique;
    font-size: larger;
    font-weight: 700;
       }
       nav h1 {
    padding-right: 0px;
    padding-left: 0px;
    color: #e057a5;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 500;
        margin-top: 15px;
    margin: 0px;
       }
  
    nav .aa::before {
    content: '';
    background: url(static/new.jpg);
    height: 35px;
    width: 45px;
    margin-left: -45px;
    border-radius: 50%;
    position: absolute;
}
}
       
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
  
  
       .img-slider{
     position: relative;
    height: 500px;
    background: #34116f;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}



.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
    bottom: -10px;
      left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  padding: 10px;

  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px){
  .img-slider{
    height: 280px;  }

  

  .img-slider .navigation{
      }

  .img-slider .navigation .btn{
        width: 10px;
    height: 9px;
    margin: 5px;
    padding: 10px;
}
  }

body {
    background: #560080;
    }

.info {
  text-align: center;
}
.info h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.info h4:nth-of-type(2) {
  margin-top:30px;
}     
  
        </style>
    </body>
</html>
