{% extends "index.html" %}

{% block content %}

<main  >
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1 style="font-family: math;color: #2b1167;    text-align: center;   padding: 10px;" >Please Register </h1>
                        <div class="my-5"  style="background: white;">
                            <form id="contactForm" action="/register" style="  border: 2px solid;
    padding: 16px;"  method="POST">
                                <div class="form-floating">
                                    <input class="form-control" name="name" type="text" placeholder="Enter your name..." required/>
                                    <label for="name">Name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="email" type="email" placeholder="Enter your email..." required/>
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="phone" type="tel" placeholder="Enter your phone number..." required/>
                                    <label for="phone">Phone Number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="bessines" placeholder="Enter your bessines here..."  required></textarea>
                                    <label for="message">bessines</label>
                                    <div class="invalid-feedback" data-sb-feedback="bessines:required">A bessines is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password..." required/>
                                    <label for="email">password</label>
                                    <div id="toggle-password" type="button" class="d-none"
    aria-label="Show password as plain text. Warning: this will display your password on the screen.">A password is required.</div>
                                </div>
                                <br />
                              
                            <div style="display: flex;">
                                <button type="submit" class="btn btn-primary text-uppercase"  style="
   padding: 0.5rem 2.5rem;
    margin-right: 5px;
    border-radius: 15%;
    text-decoration-style: initial; "  >submit</button>
    <a  tabindex="0" href="/login"   style="
    text-transform: capitalize;
    margin-left: auto;
">Sign in</a>
</div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

<div class="info">
            <h4>Get In Touch</h4>
            <span class="phone">+201012989502<span>
            <span  styles="" class="phone">digitaliom2021@gmail.com</span>
            <h4>Where We Are</h4>
            <address class="phone"><br />Alexandria<br />Smoha<br />Egypt</address>
          </div>

{% endblock %}